@font-face {
  font-family: "Roboto";
  src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

header {
  font-family: Roboto;
  color: green;
}
body {
  font-size: 1.5rem;
  margin: 20px 30px, 30px, 15px;
  width: 1100px;
  word-break: break-word;
  padding: 15px;
  border: 3px solid red;
  background-color: #f4f4f4;
  margin-left: 1000px;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:active {
  color: yellow;
  text-decoration: underline;
}
input:hover {
  border: 2px solid red;
}
::selection {
  color: white;
  background-color: black;
}
.comment {
  text-shadow: 5px 4px 4px #999;
  box-shadow: -2px -2px 10px 4px rgb(74, 84, 223);
  margin-top: 30px;

  padding: 13px 10px 13px 10px;
  border-radius: 30px;
  background-image: linear-gradient(
    to top,
    rgba(74, 84, 223, 0.637),
    white 50%
  );
  background-image: -o-linear-gradient(
    to top,
    rgba(74, 84, 223, 0.637),
    white 50%
  );
  background-image: -moz-linear-gradient(
    to top,
    rgba(74, 84, 223, 0.637),
    white 50%
  );
  background-image: -webkit-linear-gradient(
    to top,
    rgba(74, 84, 223, 0.637),
    white 50%
  );
}
.comment:hover {
  -webkit-text-shadow: 5px 4px 4px #999;
  text-shadow: 5px 4px 4px #999;
  transform: translate(-2px, -2px);
  -webkit-box-shadow: 12px 6px #888;
  box-shadow: 12px 6px 4px #888;
}

.comment:nth-of-type(even) {
  background-image: linear-gradient(to top, rgba(23, 25, 54, 0.637), white 50%);
  background-image: -o-linear-gradient(
    to top,
    rgba(23, 25, 54, 0.637),
    white 50%
  );
  background-image: -moz-linear-gradient(
    to top,
    rgba(23, 25, 54, 0.637),
    white 50%
  );
  background-image: -webkit-linear-gradient(
    to top,
    rgba(23, 25, 54, 0.637),
    white 50%
  );
}

.quote {
  border: 3px solid rgb(30, 37, 114);
  background-color: rgba(30, 37, 114, 0.5);
}
